$blue : #120fcd;

.app{
    display: flex;
    justify-content: center;

    .container{
        width: 1024px;
        // Login and Register

        .auth{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: $blue;

            h1{
                font-size: 20px;
                color: $blue;
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }

            form{
                display: flex;
                flex-direction: column;
                padding: 10px;
                background-color: white;
                gap: 20px;
            }

            input{
                padding: 10px;
                border: none;
                border-bottom: 1px solid gray;
            }

            button{
                padding: 10px;
                border: none;
                background-color: $blue;
                color: white;
                cursor: pointer;
            }

            span{
                font-size: 14px;
                text-align: center;
                cursor: pointer;
            }

            p{
                text-align: center;
            }
        }


    

    //NAVBAR

    .navbar{
        .container{

            padding: 10px 0px;
            display: flex;
            justify-content: space-between;
            align-items: center;



            .logo{
                height: 100px;
                width: 100px;
                align-items: center;


            }

            .links{
                display: flex;
                align-items: center;
                gap: 10px;
            

            h6{
                font-Size: 16px;
                font-weight: 300;
            }

            span{
                cursor: pointer;

              
                }

                .write{
                    background-color: $blue;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 300;
                    border: 1px solid white;
                    color: white;
    
                    &:hover{
                        color: white;
                        background-color:white;
                        border: 1px solid $blue;
                    }
            }

        }
        }
    }


    //FOOTER


    footer{
        // .container{

            padding: 10px 0px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            img{
                height: 100px;
                width: 100px;
                align-items: center;
            }
        
    }

    //HOME

        .home{

            .posts{
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                gap: 150px;

                .post{
                    display: flex;
                    gap: 100px;

                    &:nth-child(2n+1){
                        flex-direction: row-reverse;
                    }

                    .img{
                        flex: 2;
                        position: relative;

                        &::after{
                            content: "";
                            width: 100%;
                            height: 100%;
                            background-color: $blue;
                            position: absolute;
                            top: 20px;
                            left: 20px;
                            z-index: -1;
                        }

                        img{
                            width: 100%;
                            max-height: 400px;
                            object-fit: cover;
                        }
                    }

                    .content{
                        flex: 3;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        h1{
                            font-size: 48px;
                        }

                        p{
                            font-size: 18px;
                        }

                        button{
                            width: max-content;
                            padding: 10px 20px;
                            border: none;
                            cursor: pointer;
                            background-color: white;
                            border: 1px solid $blue;
                            color: $blue;

                            &:hover{
                                border: 1px solid white;
                                background-color: $blue;
                                color: white;
                            }

                    }
                }
            }

        }
        }

        //SINGLE

        .single{
            display: flex;
            gap: 50px;

            .content{
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 30px;

                img{
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                }

                .user{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 14px;

                    img{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    span{
                        font-weight: bold;
                    }
                }

                .edit{
                    display: flex;
                    gap: 5px;

                    img{
                        width: 40px;
                        height: 40px;
                        cursor: pointer;
                    }
                }

                h1{
                    font-size: 42px;
                    color: #333;
                }

                p{
                    text-align: justify;
                    line-height: 30px;
                }
            }
                .menu{
                    flex: 2;
                    display: flex;
                    flex-direction: column;
                    gap: 25px;

                    h1{
                        font-size: 20px;
                        color: #555;
                    }

                    .post{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        img{
                            width: 100%;
                            height: 200px;
                            object-fit: cover;
                        }

                        h2{
                            color: #555;
                        }

                        button{
                            width: max-content;
                            padding: 10px 20px;
                            border: none;
                            cursor: pointer;
                            background-color: white;
                            border: 1px solid $blue;
                            color: $blue;

                            &:hover{
                                border: 1px solid white;
                                background-color: $blue;
                                color: white;
                            }
                        }
                    }
                }
            
        }

        //WRITE

        .add{
            margin-top: 20px;
            display: flex;
            gap: 20px;

            .content{
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 20px;

                input{
                    padding: 10px;
                    border: 1px solid lightgray;
                }

                .editorContainer{
                    height: 300px;
                    overflow: scroll;

                    .editor{
                        height: 100%;
                        border: none;
                        border: 1px solid lightgray;
                    }
                }
            }

            .menu{
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .item{
                   
                    border: 1px solid lightgray;
                    padding: 10px;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-size: 12px;
                    color: #555;

                    h1{
                        font-size: 20px;
                    }

                    label{
                        text-decoration: underline;
                        cursor: pointer;
                    }

                    .buttons{
                        display: flex;
                        justify-content: space-between;

                        :first-child{
                            cursor: pointer;
                            color: $blue;
                            background-color: white;
                            border: 1px solid $blue;
                            padding: 3px 5px;
                        }
                        :last-child{
                            cursor: pointer;
                            color: white;
                            background-color: $blue;
                            border: 1px solid $blue;
                            padding: 3px 5px;
                        }
                    }

                    .cat{
                        display: flex;
                        align-items: center;
                        gap: 2px;
                        color: $blue;
                    }
                }
            }
        }
    }
}